@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zoo Animal Database</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome!</h2>
        <p>
            Click on the Animals link above to go directly to the Zoo Animal Database. You can view, add, and edit all submissions.
        </p>
    </div>
</div>